@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
  --telegram-bg-color: #ffffff;
  --telegram-text-color: #333333;
  --telegram-hint-color: #707579;
  --telegram-link-color: #3390ec;
  --telegram-button-color: #3390ec;
  --telegram-button-text-color: #ffffff;
  --telegram-secondary-bg-color: #f4f4f5;
}

@layer base {
  body {
    font-family: var(--font-roboto);
    background-color: var(--telegram-bg-color);
    color: var(--telegram-text-color);
  }

  .bg-telegram-bg {
    background-color: var(--telegram-bg-color);
  }
  .text-telegram-text {
    color: var(--telegram-text-color);
  }
  .text-telegram-hint {
    color: var(--telegram-hint-color);
  }
  .text-telegram-link {
    color: var(--telegram-link-color);
  }
  .bg-telegram-button {
    background-color: var(--telegram-button-color);
  }
  .text-telegram-button-text {
    color: var(--telegram-button-text-color);
  }
  .bg-telegram-secondary {
    background-color: var(--telegram-secondary-bg-color);
  }
}
