/* FarmingTracker.module.css */
@keyframes spin {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  51% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.spinAnimation {
  display: inline-block;
  animation: spin 1s infinite;
}
